:root {
    --secondary: #9B9B9B;
    --light: #F5F5F5;
    --light-gray: #e5e5e5;
    --dark: #161616;
    --red: #C63645;
}

.chat-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;    
    max-height: 200px;
    padding-bottom: 20px;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.3s ease;
    opacity: 1;
}

.chat-area.active {
    height: 550px;
    max-height: 550px;
}

.chat-area.desactive {
    display: none;    
}

.chat-header {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.chat-color {
    background-color: var(--dark);
    color: var(--light);
}

.chat-container {    
    width: 700px !important;
    max-width: 1200px !important;
    height: auto;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 0.8rem 1rem;
    margin: 0.5rem 0;
    border-radius: 6px;
    max-width: 70%;
    width: fit-content;
    line-height: 1.4;
    word-wrap: break-word;
}

.chat-messages {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 700px !important;
    overflow-y: scroll;   
    scrollbar-width: none; 
}

.chat-messages::-webkit-scrollbar {
  display: none;
}


.message.ai {
    align-self: flex-start; 
}

.message.user {
    align-self: flex-end;   
    background-color: var(--dark);
    color: var(--light);
    border-radius: 35px;
    text-align: right;
}

.chat-input {
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: var(--dark);
    border-radius: 35px;      
    outline: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-right: 15px;    
}

.chat-input :focus {
    background-color: var(--dark);
    color: var(--secondary);  
}

.chat-input input {
    flex: 1;
    padding: 0.8rem 0;
    margin-left: 20px;
    background-color: var(--dark);
    color: var(--secondary);    
    border: 0;
    outline: none;
    font-size: 1rem;
}

.chat-input button {
    background: var(--light);
    color: var(--dark);
    font-size: 30px;
    border: none;
    padding: 0 0.8rem;
    cursor: pointer;
    border-radius: 50%;
}

.chat-input button:hover {
    background: var(--red);
}

.typing-indicator {
    font-style: italic;
    color: var(--secondary);
}

